<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Learning Vue</title>
</head>
<body>
    <h1>Outputting Lists</h1>

    <div id="app">
        <div v-if="showBooks">
            <ul>
                <li v-for="item in books">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.author }}</p>
                </li>
            </ul>
        </div>

        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
    </div>

    <script src="app.js"></script>
</body>
</html>